<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jusfoun.jap.hive.mapper.HiveTableRelationMapper">
  <resultMap id="BaseResultMap" type="com.jusfoun.jap.hive.domain.HiveTableRelation">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="RELATION_ID" jdbcType="VARCHAR" property="relationId" />
    <result column="LEFT_TABLE_ID" jdbcType="VARCHAR" property="leftTableId" />
    <result column="RELATION_TYPE" jdbcType="VARCHAR" property="relationType" />
    <result column="RIGTH_TABLE_ID" jdbcType="VARCHAR" property="rigthTableId" />
    <result column="LEFT_COLUMN" jdbcType="VARCHAR" property="leftColumn" />
    <result column="RIGHT_COLUMN" jdbcType="VARCHAR" property="rightColumn" />
    <result column="CUBE_ID" jdbcType="VARCHAR" property="cubeId" />
    <result column="FACT_NAME" jdbcType="VARCHAR" property="factName" />
  </resultMap>
  
   <resultMap id="RelationVo" type="com.jusfoun.jap.hive.vo.RelationVo">
    <result column="LEFT_TABLE_ID" jdbcType="VARCHAR" property="leftTableId" />
    <result column="RELATION_TYPE" jdbcType="VARCHAR" property="relationType" />
    <result column="RIGTH_TABLE_ID" jdbcType="VARCHAR" property="rigthTableId" />
    <result column="LEFT_COLUMN" jdbcType="VARCHAR" property="leftColumn" />
    <result column="RIGHT_COLUMN" jdbcType="VARCHAR" property="rightColumn" />
     <result column="ISPRIMARY" jdbcType="VARCHAR" property="primary" />
  </resultMap>
  
       <insert id="insertHiveTableRelation" parameterType="com.jusfoun.jap.hive.domain.HiveTableRelation">
  		insert into T_HIVE_TABLE_RELATION (RELATION_ID,LEFT_TABLE_ID,RELATION_TYPE,RIGTH_TABLE_ID,LEFT_COLUMN,RIGHT_COLUMN,CUBE_ID,FACT_NAME) 
  		values(#{relationId},#{leftTableId,jdbcType=VARCHAR},#{relationType,jdbcType=VARCHAR},#{rigthTableId,jdbcType=VARCHAR},#{leftColumn,jdbcType=VARCHAR},#{rightColumn,jdbcType=VARCHAR},
  		#{cubeId,jdbcType=VARCHAR},#{factName,jdbcType=VARCHAR})
 	 </insert>
 	 
 	 <select id="findHiveTableRelationByCubeId" parameterType="java.lang.String" resultMap="BaseResultMap">
 	 	select t1.* from T_HIVE_TABLE_RELATION t1 where t1.CUBE_ID=#{cubeId}
 	 </select>
 	 
 	 <select id="findHiveTableRelationVoByCubeId" parameterType="java.lang.String" resultMap="RelationVo">
 	 	select t1.LEFT_TABLE_ID,t1.RELATION_TYPE,t1.RIGTH_TABLE_ID,t1.LEFT_COLUMN,
 	 	t1.RIGHT_COLUMN,nvl2(t1.FACT_NAME,'y','n') as ISPRIMARY
 	 	 from T_HIVE_TABLE_RELATION t1 where t1.CUBE_ID=#{cubeId}
 	 </select>
</mapper>