<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jusfoun.jap.hive.mapper.KylinTableMapper">
  <resultMap id="BaseResultMap" type="com.jusfoun.jap.hive.domain.KylinTable">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="TABLE_ID" jdbcType="VARCHAR" property="tableId" />
    <result column="CUBE_ID" jdbcType="VARCHAR" property="cubeId" />
    <result column="TABLE_TYPE" jdbcType="VARCHAR" property="tableType" />
    <result column="TABLE_NAME" jdbcType="VARCHAR" property="tableName" />
    <result column="TABLE_DESC" jdbcType="VARCHAR" property="tableDesc" />
    <result column="SYNC_SQL" jdbcType="VARCHAR" property="syncSql" />
    <result column="SYNC_POLICY" jdbcType="VARCHAR" property="syncPolicy" />
  </resultMap>
  
   <insert id="insertKylinTable" parameterType="com.jusfoun.jap.hive.domain.KylinTable" >
  		insert into T_KYLIN_TABLE (TABLE_ID,CUBE_ID,TABLE_TYPE,TABLE_NAME,TABLE_DESC,SYNC_SQL,SYNC_POLICY) values(#{tableId},#{cubeId,jdbcType=VARCHAR},#{tableType,jdbcType=VARCHAR},#{tableName,jdbcType=VARCHAR},#{tableDesc,jdbcType=VARCHAR},#{syncSql,jdbcType=VARCHAR}，#{syncPolicy,jdbcType=VARCHAR})
  </insert>
  
  <select id="findKylinTableByCubeId" resultMap="BaseResultMap" parameterType="java.lang.String">
 		 select t1.* from T_KYLIN_TABLE t1 where t1.CUBE_ID = #{cubeId}
  </select>
  
</mapper>