<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jusfoun.jap.admin.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.jusfoun.jap.admin.domain.Role">
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="OFFICE_ID" property="officeId" jdbcType="DECIMAL" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="ENNAME" property="enname" jdbcType="VARCHAR" />
        <result column="ROLE_TYPE" property="roleType" jdbcType="DECIMAL" />
        <result column="SYS_FLAG" property="sysFlag" jdbcType="DECIMAL" />
        <result column="STATUS" property="status" jdbcType="DECIMAL" />
    </resultMap>
    <sql id="Base_Column_List">
        ID, OFFICE_ID, NAME, ENNAME, ROLE_TYPE, SYS_FLAG, STATUS
    </sql>

    <insert id="insertRoleMenu">
        insert into b_role_menu
        (role_id, menu_id)
        <foreach close=")" collection="menuIds" item="item" index="index" open="(" separator="union">
            select
            #{roleId},#{item}
            from dual
        </foreach>
    </insert>

    <delete id="deleteRoleMenuById" parameterType="java.lang.Long">
        delete from b_role_menu
        where role_id = #{roleId}
    </delete>

    <select id="selectCountAdminIdByRoleId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(1) from b_user_role
        where role_id = #{roleId}
    </select>

    <select id="selectMenuIdsByRoleId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select menu_id from b_role_menu
        where role_id = #{roleId}
    </select>
    
    <select id="conditionPageQuery" resultMap="BaseResultMap" parameterType="com.jusfoun.jap.admin.vo.RoleVo">
        select
        <include refid="Base_Column_List" />
        from b_role u
        where 1=1 
        <if test="name != null and name!=''">
           <bind name="pattern_name" value="'%' + _parameter.getName() + '%'" />
            AND u.name like #{pattern_name} 
        </if>
    </select>
</mapper>