<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jusfoun.jap.admin.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.jusfoun.jap.admin.domain.User">
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="USERNAME" property="username" jdbcType="VARCHAR" />
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
        <result column="SALT" property="salt" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="PHONE" property="phone" jdbcType="VARCHAR" />
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
        <result column="USER_TYPE" property="userType" jdbcType="DECIMAL" />
        <result column="PHOTO" property="photo" jdbcType="VARCHAR" />
        <result column="LAST_IP" property="lastIp" jdbcType="VARCHAR" />
        <result column="LAST_TIME" property="lastTime" jdbcType="DATE" />
        <result column="STATUS" property="status" jdbcType="DECIMAL" />
	    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
	    <result column="USER_GENDER" property="userGender" jdbcType="VARCHAR" />
	    <result column="SECURITY_LEVEL" property="securityLevel" jdbcType="VARCHAR" />
	    <result column="GOV_NAME" property="govName" jdbcType="VARCHAR" />
	    <result column="JOB_NAME" property="jobName" jdbcType="VARCHAR" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        ID, USERNAME, PASSWORD, SALT, NAME, EMAIL, PHONE, MOBILE, USER_TYPE, PHOTO, LAST_IP,
        LAST_TIME, STATUS, USER_ID, USER_GENDER, SECURITY_LEVEL, GOV_NAME, JOB_NAME, CREATE_TIME, UPDATE_TIME
    </sql>

    <select id="selectRoleIdListByUserId" parameterType="java.lang.Long" resultType="java.lang.Long">
    	<if test="_parameter != null and _parameter !=''">
    	SELECT role_id
        FROM
        b_user_role
        WHERE
        user_id = #{_parameter}
    	</if>
    </select>

    <insert id="insertUserRole">
        insert into b_user_role
        (user_id, role_id)
        <foreach close=")" collection="roleIds" item="item" index="index" open="(" separator="union">
            select
            #{userId},#{item}
            from dual
        </foreach>
    </insert>

    <delete id="deleteUserRoleByUserId" parameterType="java.lang.Long">
        delete from b_user_role
        where user_id = #{userId}
    </delete>

    <select id="selectByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from b_user
        where username =#{username}
    </select>

    <select id="selectAllPermissions" resultType="java.lang.String">
        SELECT DISTINCT permission FROM b_menu
        WHERE permission IS NOT NULL
    </select>

    <select id="selectPermissionsByRoleIds" resultType="java.lang.String">
        SELECT DISTINCT b.permission
        from b_role_menu a
        LEFT JOIN b_menu b
        ON a.menu_id = b.id
        where a.role_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and b.permission is not null
    </select>

    <select id="selectIdByUsername" resultType="java.lang.Long" parameterType="java.lang.String">
        select
        id
        from b_user
        where username = #{username}
    </select>
    
    <select id="conditionPageQuery" resultMap="BaseResultMap" parameterType="com.jusfoun.jap.admin.vo.UserVo">
        select
        <include refid="Base_Column_List" />
        from b_user u
        <if test="roleIds != null">
            left join B_USER_ROLE  b ON u.id = b.user_id
        </if>
        where 1=1 
        <if test="username != null and username!=''">
           <bind name="pattern_username" value="'%' + _parameter.getUsername() + '%'" />
            AND u.username like #{pattern_username}   
        </if>
        <if test="name != null and name!=''">
           <bind name="pattern_name" value="'%' + _parameter.getName() + '%'" />
            AND u.name like #{pattern_name} 
        </if>
         <if test="roleIds != null">
            and u.id in
            <foreach item="roleId" index="index" collection="roleIds" open="(" separator="," close=")" >
                 #{roleId}
            </foreach>
        </if>
    </select>
    
    <delete id="delBatchUser" parameterType="java.util.List">
	  delete from b_user
	  <where>
		  <foreach collection="list" index="index" item="item" open="(" separator="or" close=")">     
		  id=#{item}
		  </foreach>
	  </where>
  	</delete>
</mapper>