<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jusfoun.jap.story.mapper.StoryMapper" >
  <resultMap id="StoryMap" type="com.jusfoun.jap.story.domain.Story" >
    <id column="STORY_ID" property="id" jdbcType="VARCHAR" />
    <result column="STORY_NAME" property="name" jdbcType="VARCHAR" />
    <result column="STORY_DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="LAYOUT" property="layout" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="DATE" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE" />
    <result column="BACKGROUND_COLOR" property="backgroundColor" jdbcType="VARCHAR" />
    <result column="TITLE_FONT_SIZE" property="titleFontSize" jdbcType="VARCHAR" />
    <result column="TITLE_FONT_WEIGHT" property="titleFontWeight" jdbcType="VARCHAR" />
    <result column="TITLE_FONT_COLOR" property="titleFontColor" jdbcType="VARCHAR" />
    <result column="TITLE_SHOW" property="titleShow" jdbcType="VARCHAR" />
    <result column="THEME_ID" property="themeId" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getStory" resultType="com.jusfoun.jap.story.vo.StoryVo" parameterType="com.jusfoun.jap.story.domain.Story">
        select STORY_ID as id,
          STORY_NAME as name,
          STORY_DESCRIPTION as description,
          user_id as userId,
          create_Time as createTime,
          update_Time as updateTime,
          layout as layout,
          background_color as backgroundColor,
          title_font_size as titleFontSize,
          title_font_weight as titleFontWeight,
          title_font_color as titleFontColor,
          title_show as titleShow,
          THEME_ID as themeId
          from t_story where STORY_ID = #{id}
  </select>
  
  <select id="getStorys" resultMap="StoryMap" parameterType="com.jusfoun.jap.story.domain.Story">
        select STORY_ID,
          STORY_NAME,
          STORY_DESCRIPTION,
          user_id,
          create_Time,
          layout,
          update_Time,
          background_color,
          title_font_size,
          title_font_weight,
          title_font_color,
          title_show,
          THEME_ID
          from t_story 
          where 1=1
          and user_id=#{userId}
          <if test="name != null and name !=''">
          and STORY_NAME like '%${name}%'
          </if>
          order by update_time
  </select>
  
  <insert id="createStory" parameterType="com.jusfoun.jap.story.vo.StoryVo">
  	insert into t_story (STORY_ID,STORY_NAME,STORY_DESCRIPTION,user_id,create_Time, update_Time,layout,background_color,title_font_size,title_font_weight,title_font_color,title_show,THEME_ID)
  	 select #{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},
  	 sysdate,sysdate,#{layout,jdbcType=VARCHAR},#{backgroundColor,jdbcType=VARCHAR},#{titleFontSize,jdbcType=VARCHAR},#{titleFontWeight,jdbcType=VARCHAR},#{titleFontColor,jdbcType=VARCHAR},#{titleShow,jdbcType=VARCHAR},#{themeId,jdbcType=VARCHAR} from dual
  </insert>
  
  <update id="updateStory" parameterType="com.jusfoun.jap.story.domain.Story">
  	update t_story set STORY_NAME = #{name,jdbcType=VARCHAR} ,
  	STORY_DESCRIPTION = #{description,jdbcType=VARCHAR},
  	<if test="layout != null and layout !=''">
  	layout = #{layout,jdbcType=VARCHAR},
  	</if>
  	user_id =  #{userId,jdbcType=VARCHAR},
  	update_time = (select sysdate from dual)
    <if test="backgroundColor != null and backgroundColor !=''">
    ,background_color = #{backgroundColor,jdbcType=VARCHAR}
    </if>
    <if test="titleFontSize != null and titleFontSize !=''">
    ,title_font_size = #{titleFontSize,jdbcType=VARCHAR}
    </if>
    <if test="titleFontWeight != null and titleFontWeight !=''">
    ,title_font_weight = #{titleFontWeight,jdbcType=VARCHAR}
    </if>
    <if test="titleFontColor != null and titleFontColor !=''">
    ,title_font_color = #{titleFontColor,jdbcType=VARCHAR}
    </if>
    <if test="titleShow != null and titleShow !=''">
    ,title_show = #{titleShow,jdbcType=VARCHAR}
    </if>
    <if test="themeId != null and themeId !=''">
    ,theme_id = #{themeId,jdbcType=VARCHAR}
    </if>
  	where STORY_ID = #{id,jdbcType=VARCHAR}
  </update>
  <delete id="delStory" parameterType="com.jusfoun.jap.story.vo.StoryVo">
  	delete from t_story where STORY_ID = #{id,jdbcType=VARCHAR}
  </delete>
	
	<select id="selectNames" resultType="java.lang.String" parameterType="com.jusfoun.jap.story.domain.Story">
	select STORY_NAME from  t_story where STORY_NAME like '${name}%'
	</select>
	
	<select id="getCopyStoryId" resultType="java.lang.String" parameterType="com.jusfoun.jap.story.domain.Story">
		select STORY_ID from  t_story where STORY_NAME = #{name}
	</select>
	
	<insert id="copyStory" parameterType="com.jusfoun.jap.story.domain.Story">
		insert into t_story (story_id,story_name,story_description,user_id,create_Time, update_Time,layout,background_color,title_font_size,title_font_weight,title_font_color,title_show,theme_id)
		 select sys_guid(),#{name,jdbcType=VARCHAR},#{description,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR}
		 ,sysdate,sysdate,#{layout,jdbcType=VARCHAR},#{backgroundColor,jdbcType=VARCHAR},#{titleFontSize,jdbcType=VARCHAR},#{titleFontWeight,jdbcType=VARCHAR},#{titleFontColor,jdbcType=VARCHAR},#{titleShow,jdbcType=VARCHAR},#{themeId,jdbcType=VARCHAR} from dual
	</insert>
	
	<insert id="copyStoryDashboardRela" parameterType="java.util.Map">
		insert into t_story_dashboard_rela(rela_id,story_id,dashboard_id,dashboard_order,border_show,border_color) select sys_guid(),#{copyId,jdbcType=VARCHAR},dashboard_id ,dashboard_order,border_show,border_color
		from t_story_dashboard_rela where story_id = #{id,jdbcType=VARCHAR}
	</insert>
	
	<delete id="delStoryDashboardRela" parameterType="com.jusfoun.jap.story.vo.StoryVo">
		delete from t_story_dashboard_rela where story_id = #{id}
	</delete>
	
	<insert id="insertStoryDashboardRela" parameterType="com.jusfoun.jap.story.vo.StoryVo">
		insert into t_story_dashboard_rela (rela_id,story_id,dashboard_id,dashboard_order,border_show,border_color) 
		<foreach close=")" collection="dashboardVo" item="item" index="index" open="(" separator="union">
	    	select sys_guid(), #{id},#{item.id},#{item.dashboardOrder,jdbcType=INTEGER},#{item.borderShow,jdbcType=VARCHAR},#{item.borderColor,jdbcType=VARCHAR} from dual 
	  	</foreach>
	</insert>
    
</mapper>