/*公共色调*/
body, html, div, img, span, input, button, ul, li, p, dl, dt, dd, span, a, table, thead, tbody, tr, td，h2, h1, p, ul, li {
    padding: 0px;
    margin: 0px;
    border: 0px;

}

@font-face {font-family: 'iconfont';
    src: url('../../scripts/iconfont/iconfont.eot'); /* IE9*/
    src: url('../../scripts/iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../scripts/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../scripts/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../../scripts/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
body {
    font-family: "microsoft yahei";
    height: 100%;
    background: #DDDDDD;
    color: #676767;
}

a {
    cursor: pointer;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10.5%;

}

#topMenu_zztz {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

#main_zztz {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.color_red {
    background-color: #E63A28;
}

.color_blue {
    background-color: #24adce;
}

.color_blueH {
    background-color: #228fa9;
}

.color_green {
    background-color: #2ec5bc;
}

.color_grey {
    background-color: #cfd0d1;
}

.font_colorW {
    color: #FFFFFF;
}

.font_colorB {
    color: #676767;
}

.font_colorLB {
    color: #676767;
}

.font_colorG {
    color: #CCCCCC;
}

.font_colorDG {
    color: #666666;
}

.font_bold {
    font-weight: bold;
}

.border_left {
    border-left: 1px solid #cfd0d1;
}

.border_right {
    border-right: 1px solid #cfd0d1;
}

.border_top {
    border-top: 1px solid #cfd0d1;
}

.border_bottom {
    border-bottom: 1px solid #cfd0d1;
}

.overflowH {
    overflow: hidden;
}

.overflowX {
    overflow-x: auto;
}

.overflowXH {
    overflow-x: hidden;
}

.overflowY {
    overflow-y: auto;
}

.overflowYH {
    overflow-y: hidden;
}

.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.displayN {
    display: none;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

/*//ngDialog 保存*/
.ngdialog.ngdialog-theme-default.custom-theme{

}
.ngdialog.ngdialog-theme-default.custom-theme .ngdialog-content {
    width: 310px;
    height: 190px;
    background: #fff;
}
.ngdialog.ngdialog-theme-default.custom-theme .ngdialog-content input{
    height: 30px;
    width:100%;
}
.ngdialog.ngdialog-theme-default.custom-theme .ngdialog-content button{
     padding: 0.4em 1em;
 }
.ngdialog.ngdialog-theme-default.custom-theme .ngdialog-content div.ngdialog-buttons{
    margin-top: 25px;

}

.ngdialog.ngdialog-theme-default.custom-theme .ngdialog-content button.ngdialog-button-primary{
    background:#E63A28;
}
/*/alert*/
.ngdialog.ngdialog-theme-default.custom-theme-alert{

}
.ngdialog.ngdialog-theme-default.custom-theme-alert div.ngdialog-content {
    width: 420px;
    min-height: 120px;
    padding: 30px;
    height: auto;
    max-height:200px;

}
.ngdialog.ngdialog-theme-default.custom-theme-alert div.my-content {
    line-height: 20px;
    margin-top: 20px;
    max-height: 50px;
    overflow-y: auto;
    word-break: break-all;
    color: #727272;

}
.ngdialog.ngdialog-theme-default.custom-theme-alert div.my-content span {
    font-size: 16px;
}

.iconfont-close{
    font-family:"iconfont";
    font-size:20px;
    font-style:normal;
    font-weight: 300;
}
.iconfont-close:hover{
    cursor: pointer;
}
.float-position{
    float: right;
}

.ngdialog.ngdialog-theme-default.custom-theme-alert div.mytitle{
    font: 700 18px/20px 'Microsoft YaHei';
}
.ngdialog.ngdialog-theme-default.custom-theme-alert div.title-div {
    text-align: center;
    margin-top: 20px;
}
.ngdialog.ngdialog-theme-default.custom-theme-alert span{
    font-size: 16px;

}
.ngdialog.ngdialog-theme-default.custom-theme-alert .ngdialog-content button{
    padding: 0.6em 1em;
}
.ngdialog.ngdialog-theme-default.custom-theme-alert div.list {
    height:80px;
    max-height:90px;
    overflow-x:hidden;
    overflow-y:auto;
    font-size: 14px;
}
/*save dialog begin*/
.ngdialog.ngdialog-theme-default.dialog-save-alert{

}
.ngdialog.ngdialog-theme-default.dialog-save-alert div.ngdialog-content {
    width: 420px;
    min-height: 120px;
    height: auto;
    max-height:280px;

}
.ngdialog.ngdialog-theme-default.custom-theme-alert-more div.ngdialog-content {
    width: 330px;
    height: 230px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}
.ngdialog.ngdialog-theme-default.dialog-save-alert div.ngdialog-header {
    height: 42px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}
.ngdialog.ngdialog-theme-default.dialog-save-alert div.ngdialog-header span{
    font-size: 20px;
}
.ngdialog.ngdialog-theme-default.dialog-save-alert div.my-content span {
    font-size: 14px;
}

.ngdialog.ngdialog-theme-default.dialog-save-alert div.ngdialog-input {
    margin-top: 30px;
    width: 100%;
    height: 60px;
    font-size: 14px;
    vertical-align:middle;
    line-height:35px;

}
.ngdialog.ngdialog-theme-default.dialog-save-alert div.ngdialog-input input {
    width: 75%;
    height: 35px;
    float: right;
    margin-left: 5px;
}
.ngdialog.ngdialog-theme-default.dialog-save-alert div.ngdialog-input span{
    font-size: 16px;
    float: right;
}
.ngdialog.ngdialog-theme-default.dialog-save-alert .ngdialog-content div.ngdialog-buttons{
    margin-top: 0px;
    padding-top: 25px;
    border-top: 1px solid #e5e5e5;
}
.ngdialog.ngdialog-theme-default.dialog-save-alert .ngdialog-content button{
    padding: 0.6em 1em;
}
/*save dialog end*/
.ngdialog.ngdialog-theme-default.custom-theme-alert-more{

}

.ngdialog.ngdialog-theme-default.custom-theme-alert-more div.title-div {
    text-align: center;
    margin-top: 20px;
}
.ngdialog.ngdialog-theme-default.custom-theme-alert-more div.list {
    height:100px;
    max-height:100px;
    overflow-x:hidden;
    overflow-y:auto;
}
.ngdialog.ngdialog-theme-default.custom-theme-alert-more span{
    font-size: 15px;
}
.ngdialog.ngdialog-theme-default.custom-theme-alert-confirm{

}
.ngdialog.ngdialog-theme-default.custom-theme-alert-confirm div.ngdialog-content {
    width: 330px;
    height: 130px;
}
.ngdialog.ngdialog-theme-default.custom-theme-alert-more span{
    font-size: 15px;



}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000000000000000000000000000000000001;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.bigRing {
    margin:0 0 0 20px;
    width: 150px;
    height: 150px;
}
.bigWord {
    font-family: 'Microsoft YaHei';
    font-weight: 700;
    font-style: normal;
    font-size: 30px ;
    text-align: center;
    line-height: normal;
}
.bigRingInside{
	font-size:12px;
}

.all_font_color_lightY{
	color:#ffd602;
}
.all_font_color_green{
    color:#00801F;
}

.loading {
  position: absolute;
  #solution> .border-radius(8px);
  width: 160px;
  height: 72px;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -80px;
  text-align: center;
/*   img {
    margin-top: 12px;
    text-align: center;
  }
  span {
    display: block;
  } */
}
/*公共色调结束*/
