/*logo */
#topMenu_zztz #logo_zztz{
	height: 50px;
	line-height: 50px;
    width: 400px;
	margin-left: 50px;
}

#topMenu_zztz #logo_zztz img{
	float: left;
	margin-top: 10px;
    width:30px;
	height: 30px;
}

#topMenu_zztz #logo_zztz h1{
	float: left;
	font-size: 20px;
	font-family: "Microsoft YaHei";
	margin-left: 5px;
}

#topMenu_zztz #logo_zztz span{
	float: left;
	line-height: 60px;
	font-size: 13px;
	margin-left: 5px;
	font-family: "Microsoft YaHei";
}

/*logo end*/

/*menu*/
#topMenu_zztz  #menu_zztz{
	height: 50px;
	line-height: 50px;
	position:relative;
}

#topMenu_zztz  #menu_zztz ul{
	list-style: none;
	height: 50px;
	clear: both;
}

#topMenu_zztz  #menu_zztz ul li{
    float: left;
	position: relative;
	height: 30px;
	width: auto;
	line-height: 30px;
	font-size: 15px;
	margin: 10px 20px;
	cursor: pointer;
}

#topMenu_zztz  #menu_zztz ul li:before{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -2px;
	width: 0;
	height: 2px;
	background: #ffffff;
	transition: all .3s;
}
#topMenu_zztz  #menu_zztz ul li:hover:before{
	width: 100%;
	left: 0;
	right: 0;
}

#topMenu_zztz  #menu_zztz ul li.active{
	font-weight: bold;
	border-bottom: 2px solid #FFFFFF;
}

#topMenu_zztz  #menu_zztz ul li a{
	text-decoration: none;
}
/*menu end*/

/*user*/
#topMenu_zztz  #user_zztz{
	height: 50px;
	line-height: 50px;
	font-size: 20px;
}

#topMenu_zztz  #user_zztz > span{
	margin-left: 30px;
}

#topMenu_zztz  #user_zztz > span a{
	text-decoration: none;
}

#topMenu_zztz  #user_zztz > span i:hover{
	font-weight: bold;
}

/*add 10.26*/
.menuRj{
  position:absolute;
  width:100px;
  right:-20px;
  top:32px;
  z-index:1;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  display:none;
  background-color:#E63A28;
  padding:0;
  padding-top:8px;

}
.menuRj p{
   background-color:#e4e4e4;
   color:#999;
   height:26px;
   line-height:26px;
   text-align:center;
   font-size:12px;
   font-weight:normal;
   margin:0;
}
.menuRj p:hover{
    background-color:#569bc7;
    color:#fff;
    cursor:pointer;
}
