/**
甯冨眬鏍峰紡璋冩暣锛屼复鏃舵枃浠�
*/
.mp_layout_common {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    margin-top: 10px;;
}

.mp_layout_common .three_layout_common {
    width: 32px;
    float: left;
    margin: 0 8px;
    height: 32px;
}

.three_layout_common:hover {
    /*color:red;*/
    /*background:lime;*/
    font-size: small;
    cursor: pointer;
}

.mp_layout_common .three_layout_common .up_down_layout {
    width: 25px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
}

.mp_layout_common .three_layout_common .up_down_layout_down {
    margin-top: 4px;
}

.line_color_selected {
    border-color: #e45747;
}

.line_color_unselected {
    border-color: #939393;
}

.mp_layout_common .three_layout_common .four_layout {
    width: 10px;
    height: 10px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp_layout_common .three_layout_common .six_layout {
    width: 5px;
    height: 13px;
    border-width: 1px;
    border-style: solid;
    float: left;
    
}
.mp_layout_common .three_layout_common .layout_float_d {
    margin-left: 2px;
}
.mp_layout_common .three_layout_common .four_layout_float_left {
    margin-left: 4px;
}

.mp_layout_common .three_layout_common .four_layout_float_top {
    margin-top: 4px;
}

.mp_layout_common .three_layout_common .left_right_layout {
    width: 10px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp_layout_common .three_layout_common .left_right_layout_e1 {
    width: 5px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp_layout_common .three_layout_common .left_right_layout_e2 {
    width: 14px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    float: left;
    margin-left: 4px;
}
.mp_layout_common .three_layout_common .left_right_layout_f1 {
    width: 14px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp_layout_common .three_layout_common .left_right_layout_f2 {
    width: 5px;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    float: left;
    margin-left: 4px;
}
.mp_layout_common .three_layout_common .left_right_layout_left {
    margin-left: 4px;
}

.mp_layout_common_big {
    height: 400px;
    /*width: 400px;*/
}


/*澶х殑甯冨眬*/
.mp-layout-common-big{
    height:204px;
    width: 75%;
    margin: 20px auto;
}
.mp-layout-common-big>div{
    width: 220px;
    float: left;
    margin: 0 10px;
    height: 200px;
    cursor: pointer;
}
.mp-layout-common-big>div>div.layout-a-div{
    width: 90px;
    height: 190px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp-layout-common-big>div>div.layout-b-div{
    height: 90px;
    width: 190px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp-layout-common-big>div>div.layout-c-div{
    height: 90px;
    width: 90px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp-layout-common-big>div>div.layout-d-div{
    height: 90px;
    width: 56px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp-layout-common-big>div>div.layout-e-div1{
    width: 60px;
    height: 190px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp-layout-common-big>div>div.layout-e-div2{
    width: 120px;
    height: 190px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp-layout-common-big>div>div.layout-f-div1{
    width: 120px;
    height: 190px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp-layout-common-big>div>div.layout-f-div2{
    width: 60px;
    height: 190px;
    border-width: 1px;
    border-style: solid;
    float: left;
}
.mp-layout-common-big>div>div{
    margin: 5px;

}
.layout-select-big{
    margin: 50px 41%;
}
.layout-select-big span{
    font-size: 20px;
}



.layout-border {
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

.layout-overflow {
    overflow-x: auto;
    width: 100%;
    height: 100%;
}

.layoutA {
    width: 48%;
    height: 440px;
    float: left;
    margin: 5px 5px;
}

.layoutB {
    width: 98%;
    height: 440px;
    float: left;
    margin: 5px 5px;
}

.layoutC {
    width: 48%;
    height: 310px;
    float: left;
    margin: 5px 5px;
}
.layoutD {
    width: 32%;
    height: 310px;
    float: left;
    margin: 5px 5px;
}
.layoutE {
    width: 30%;
    height: 440px;
    float: left;
    margin: 5px 5px;
}
.layoutF {
    width: 30%;
    height: 440px;
    float: left;
    margin: 5px 5px;
}
.innerDivChartData {
    width: 99%;
    height: 90%;
    background-color: transparent;

}

.innerDivChartDataP {
    width: 99%;
    height: 100%;

}

.innerDivChartDataMenu {
    width: 100%;
    height: 8%;
    background-color: transparent;
    margin: 0 auto;
    position: relative;
}

.right_menu {
    /*position: absolute;*/
    float: right;
    padding: 5px 10px 0 0;
}

.right_menu_i_color {
    color: #ff6247;

}

.right_menu_i_color:hover {
    cursor: pointer;
}

.dropdown-menu-bar {
    position: absolute;
    top: 23px;
    right: 10px;
    z-index: 1000;
}

.display-control {
    display: none;
}

.worktables-title {
    float: left;
    padding: 5px 10px;
    max-width: 90%;
    width: 90%;
    display: block;
    text-align: center;
}

.worktables-title span {
    font-size: 14px;
    /*font-weight: bold;*/
}

.dropdown-menu {
    /*display: none;*/
    float: left;
    min-width: 100px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu li {

}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.savediv {
    float: right;
    padding: 3px 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #E63A28;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 13px;
    font-family: "Microsoft YaHei";
    cursor: pointer;
    outline: 0px;
    vertical-align: middle;
}

.bg-setting-div {
    position: absolute;
    top: 24px;
    right: 120px;
    z-index: 500;
}
.color-setting-div {
    position: absolute;
    top: 24px;
    right: 60px;
    z-index: 500;
}

/*//pie setting css*/
.bgsetting-main-menu {
    width: 300px;
    margin: 0 auto;
}

.bgsetting-main-menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.bgsetting-main-menu:after {
    clear: both;
    content: " ";
    display: block;
}

.bgsetting-main-menu li {
    float: left;
    margin-left: 2.5%;
    margin-top: 2.5%;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    overflow: hidden;
}

.bgsetting-main-menu li a {
    display: block;
    color: #FFF;
    text-align: center
}

.bgsetting-main-menu li a b {
    display: block;
    height: 80px;
}

.bgsetting-main-menu li a img {
    margin: 15px auto 15px;
    width: 50px;
    height: 50px;
}

.bgsetting-main-menu li a span {
    display: block;
    height: 30px;
    line-height: 30px;
    background-color: #FFF;
    color: #999;
    font-size: 14px;
}

.bgsetting-main-menu li:hover {
    cursor: pointer;
}

.bgsetting-main-menu li:nth-child(1) {
    background-color: #36A1DB
}

.bgsetting-main-menu li:nth-child(2) {
    background-color: #678ce1
}

.bgsetting-main-menu li:nth-child(3) {
    background-color: #8c67df
}

.bgsetting-main-menu li:nth-child(4) {
    background-color: #84d018
}

.bgsetting-main-menu li:nth-child(5) {
    background-color: #14c760
}

.bgsetting-main-menu li:nth-child(6) {
    background-color: #f3b613
}

.bgsetting-main-menu li:nth-child(7) {
    background-color: #ff8a4a
}

.bgsetting-main-menu li:nth-child(8) {
    background-color: #fc5366
}

.bgsetting-main-menu li:nth-child(9) {
    /*background-color: #fc5366*/
}