#loginDiv{
    text-align: center;
    height: 90%;
}

#loginDiv #loginBox{
    width: 24%;
    margin-left: 33%;
    margin-top: 16%;
    padding: 1% 5%;
}
#loginDiv #loginBox p{
    line-height: 30px;
    text-align: center;
    font-size: 17px;
    font-family: "Microsoft YaHei";
}

#loginDiv #loginBox .login_textBox{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #FFFFFF;
    border: 1px solid #C5C5C2;
}

#loginDiv #loginBox .login_textBox span{
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    background: #EBEBE4;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: #E63A28;
    margin-right: 0px;
}
#loginDiv #loginBox .login_textBox input{
    width: 80%;
    height: 24px;
    padding: 1px;
    border: 0px;
    outline: none;

}
#loginDiv #loginBox button{
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #C5C5C2;
    font-family: "microsoft yahei";
    font-size: 14px;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    color: #E63A28;
    outline: none;
    margin-bottom: 20px;
}
#loginDiv #loginBox button:hover{
    background-color: #efefef;
    color: #868686;
}